html, body{
   height: 100%;
}
.App {
  text-align: center;
  height: 100vh;
    background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
}



.App-link {
  color: #09d3ac;
}
